*.swp
*.swo
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
*/eshell/history
*/eshell/lastdir
*/emacs.d/eshell/*
*.rel
/auto/
.cask/
*.last
elpa/
projectile-bookmarks.eld
*.dat
helm-adaptive-history
/smex-items
/.smex-items
/smex-save-file
/recentf
